body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  background: #000000;
}

li.title, li.link {
  list-style: none;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
}

li.title {
  margin: auto 50px 0 0;
}

li.link {
  margin: auto 10px;
  font-weight: 200;
  text-transform: lowercase;
}

li.title a, li.link a {
  text-decoration: none;
  color: #FFFFFF;
}

li.title a:hover, li.link a:hover {
  color: #C0C0C0;
}

footer {
  text-align: center;
  border-top: 1px solid #DDDDDD;
  background-color: #EEEEEE;
  font-size: 0.8em;
  padding: 8px;

  line-height: 30%;
}

.light {
  color: #505050;
}

#content {
  margin: 50px;
  color: #303030;
}

/* syntax highlighted box */
div.highlight {
  border: 1px solid #DDDDDD;
  padding: 8px;
  background-color: #EEEEEE;
  border-radius: 4px;
  margin: 16px;
}

pre {
  margin: 0;
}

code, code * {
  font-family: monospace;
}

div.postprev {
  border: 1px solid #EEE;

  padding: 0 16px 0 16px;
  margin: 0 auto 20px auto;

  width: 780px;
}

div.postprevh {
  background-color: #EEE;
  margin: 0 -16px;

  padding: 0 8px 8px;
}

div.postprevh h2 {
  margin: 0;
}

/* links to individual posts from index */
a.postprevlink {
  color: #000000;
}
a.postprevlink:hover {
  color: #303030;
}

.postprev p {
  text-align: justify;
  font-size: 1.167em;
}

a {
  text-decoration: none;
  color: #007FFF;
}

a:hover {
  text-decoration: underline;
  color: #004FCF;
}

a.minilink {
  font-size: 0.8em;
}