---
layout: layout
title: home
---

{% for post in site.posts limit:5 %}
  <div class="postprev">
    <div class="postprevh">
      <h2><a class="postprevlink" href="{{ post.url }}">{{ post.title }}</a></h2>
      <span class="light">&raquo; {{ post.date | date_to_string }}</span>
    </div>
    {% if post.content contains '<!--more-->' %}
      {{ post.content | split:'<!--more-->' | first }}
      <div><a class="minilink" href="{{ post.url }}">Read more...</a></div>
    {% else %}
      {{ post.content }}
    {% endif %}
  </div>
{% endfor %}

{% if site.posts == empty %}
  <p>nothing to see here yet!</p>
{% endif %}

<p><a class="minilink" href="#top">&uarr; Top</a></p>